body {
    padding-top: 130px;
}

.navbar {
    background-color: #FFFFFF;
    height: 130px;
}

.deleteIcon {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}