body {
    padding-top: 110px;
}

.navbar {
    background-color: #FFFFFF;
    height: 110px;
}

.container-main {
	margin-top: 20px;
}

.nav > li > a {
    padding: 4px;
}

.deleteIcon {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}